<div class="toolset-help toolset-help-sm">
    <div class="toolset-help-content">
        <h1>{{__( 'Relationship Forms Instructions', 'wp-cred' )}}</h1>
        <p>
            {{ __('Toolset Relationship Forms allow to connect between posts or edit the connections between related posts.', 'wp-cred' )}}
        </p>
        <p>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Before you get started, you should read the documentation on <a href="https://toolset.com/course-lesson/front-end-relationship-forms-for-connecting-posts/?utm_source=plugin&utm_medium=gui&utm_campaign=forms" alt="{{ __( 'Relationship Forms Instructions', 'wp-cred' ) }}" rel="">{{ __('creating and using Toolset Relationship Forms', 'wp-cred' )}}</a>.
        </p>
        <h2>{{ __( 'Connecting any two posts together', 'wp-cred' ) }}</h2>
            <ol>
                <li>{{ __( 'Create the form using this wizard.', 'wp-cred' ) }}</li>
                <li>{{ __( 'Insert it into a page.', 'wp-cred' ) }}</li>
            </ol>

        <h2>{{ __( 'Connecting a post to a given post or editing existing connections', 'wp-cred' ) }}</h2>
            <ol>
                <li>{{ __( 'Create the form using this wizard.', 'wp-cred' ) }}</li>
                <li>{{ __( 'Create an "editing-mode" template and insert the form into it.', 'wp-cred' ) }}</li>
                <li>{{ __( 'Link to the template from the “display-mode” template or a View.', 'wp-cred' ) }}</li>
            </ol>
    </div>
    <div class="toolset-help-sidebar"></div>
</div>
